Repository event-driven-io/Pongo, pull requests merged in 2024-07, with the labels that each got.

#24 YugabyteDB as a distributed alternative to PostgreSQL
  samples/simple-ts/README.md
  samples/simple-ts/docker-compose-yugabytedb.yml
Labels: enhancement, samples, YugabyteDB

#29 Exposed countDocuments method
  src/packages/pongo/src/main/typing/operations.ts
  src/packages/pongo/src/mongo/mongoCollection.ts
  src/packages/pongo/src/postgres/postgresCollection.ts
Labels: enhancement, pongo

#30 Changed _id type to TEXT
  README.md
  src/docs/getting-started.md
  src/packages/pongo/src/postgres/postgresCollection.ts
Labels: enhancement, pongo, schema, breaking change

#31 Added findOneAndDelete, findOneAndReplace, findOneAndUpdate methods
  src/packages/pongo/src/main/typing/operations.ts
  src/packages/pongo/src/mongo/mongoCollection.ts
  src/packages/pongo/src/postgres/postgresCollection.ts
Labels: enhancement, pongo

#32 Updated sample to Pongo 0.4.0
  samples/simple-ts/package-lock.json
  samples/simple-ts/package.json
  samples/simple-ts/src/index.ts
  samples/simple-ts/src/shim.ts
Labels: enhancement, samples

#33 Added rawSql method to Dumbo
  src/package-lock.json
  src/packages/dumbo/package.json
  src/packages/dumbo/src/sql/index.ts
  src/packages/pongo/package.json
Labels: enhancement, dumbo

#34 Exposed option to inject pg.PoolClient
  src/package-lock.json
  src/package.json
  src/packages/pongo/package.json
  src/packages/pongo/src/main/pongoClient.ts
  src/packages/pongo/src/mongo/mongoClient.ts
  src/packages/pongo/src/postgres/client.ts
Labels: enhancement, pongo

#37 Added new Discord invitation link
  CONTRIBUTING.md
  README.md
  samples/simple-ts/README.md
  src/docs/.vitepress/config.mts
  src/docs/index.md
Labels: bug, documentation, community
